.box{
    height: 300px;
    width:300px;
    background: blue;
    text-align: center;
    padding: 5%;
    position: relative;
    
}

.add{
    animation-name: add;
    animation-duration: 2.5s;
}
.remove{
    animation-name: remove;
    animation-duration: 3s;
}
@keyframes add {
    0%   {background: tomato;}
   20% {background: darkblue;} 
   40% {background: green;} 
   60% {background: gray;} 
    100% {background: blue;}
  }

  @keyframes remove {
    0%   {border-radius: 0px;}
    /* 0%   {border-radius: px;} */
    100% {border-radius: 100%;}
  }
