/* Monserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
    src:url(/fonts/FontsFree-Net-SFMono-Regular.ttf);
    font-family:mono;
}

:root{
    --primary-color:#8892b0;
    --secondary-color:#64ffda;
    --dark-color:#0A192F;
    --light-color:#e6f1ff;
    --max-width:100%;
    --first-font:'Montserrat', sans-serif;
    --second-font:mono;
    --hs-fonts:'Montserrat', sans-serif;
    --max-width:100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100vh;
    overflow: hidden;
    color:#8892b0;
    font-family: var(--first-font);
    line-height: 26px;
}
/* fonts & Colors */
h1, h2, h3{
font-family: var(--hs-fonts);
margin-bottom: 1rem;
}
a{
    color:#8892b0;
    font-family: var(--first-font);
    text-decoration: none;
}
ul{
    list-style: none;
}

/* fonts sizes */
.xxs-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.xs-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.small-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.medium-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.large-text{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}
.xl-text{
font-size: 60px;
font-weight: 600;
line-height: 68px;
}

/* Text Colors */
.greenish-text{
    color: var(--secondary-color);
  font-family: var(--second-font);  
}
.comp-font{
    font-family: var(--second-font);  
}
.light-text{
    color:var(--light-color);
}

/* Utilities */
.container{
    max-width: var(--max-width);
    margin: auto;
    /* overflow: hidden; */
}

/* page sections */
#sections-container {
    z-index:1;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
  
}
.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;   
  align-items: center;
  justify-content: center;
}
#section-1{   

   background: #0A192F;
}
#section-2{
    background: blue;
}
#section-3{
    background: yellow;
}
.showcase{
    width: 70%;
    display:flex-start;
    align-items: center;
    justify-content: center;
}


.styled-right-bottom-element{
    position: fixed;
    bottom: 9rem;
    right: 0;
    transform:rotate(90deg) ;
}
/* Main Navbar */

#main-nav {
    position:fixed;
    top:0;
    width: 100%;
    align-items: center;
    padding:30px  40px  0 40px;
}
  
#main-nav .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 12px;
}
  
  #main-nav ul {
    justify-self: end;
    display: flex;
  }
  
  #main-nav ul li span{
      color:var(--secondary-color);
  }
  #main-nav ul li a {
    padding: 0.75rem;
    font-family: var(--second-font);
  }
  
  
  #main-nav ul li a:hover {
    color: var(--secondary-color);
  }
  /*  */
.logo{
    clip-path: polygon(/*6*/60% 0,/*4*/50% 40%,/*3*/40% 0,/*2*/25% 0,/*1*/0 100%, /*13*/15% 100%,/*12*/32% 40%,/*11*/40% 65%,/*10*/57% 65%,/*9*/68% 40%,/*8*/85% 100%,/*7*/100% 100%,/*6*/75% 0); 
    background: var(--secondary-color);
    height: 20px;
    width:20px;
}